@use "../assets/styles/variables" as *;
@use "../assets/styles/mixins";

#contact-me {
  height: 100vh;
  position: relative;
  // scroll-snap-align: start;
  // scroll-snap-stop: always;

  .form-container {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
  .svg-container {
    position: absolute;
    width: 35%;
    max-width: 685px;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;

    svg {
      width: 100%;
    }
  }
}
