#contact-me {
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;

  .form-container {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);

    
  }
}
