@use "../assets/styles/variables" as *;
@use "../assets/styles/mixins";

.hero {
  height: calc(100vh - 75px);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__copy {
    flex-basis: 685px;
    flex-shrink: 0;
  }

  &__side-image {
    img {
      min-width: 370px;
    }
  }

  h1 {
    font-size: 4rem;
    font-family: $secondary;
    margin-bottom: 30px;
  }

  p {
    font-size: 20px;
    line-height: 2.2rem;
    letter-spacing: 1.5px;
    max-width: 800px;
    text-wrap: balance;
  }
}
