@use "../assets/styles/variables" as *;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  font-family: $primary;
  scroll-snap-align: start;
  scroll-snap-stop: always;

  &__links {
    display: flex;

    li {
      list-style-type: none;

      a {
        color: black;
        text-decoration: none;
        padding-left: 50px;
        padding-right: 25px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
